[submodule "obvious"]
	path = obvious
	url = git://git.mercenariesguild.net/obvious.git
[submodule "awesome-freedesktop"]
	path = awesome-freedesktop
	url = git://github.com/terceiro/awesome-freedesktop.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "alttab"]
	path = alttab
	url = https://github.com/jorenheit/awesome_alttab.git
